* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: 80%;
    background-position: center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: mediumspringgreen;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

header a {
    text-decoration: none;
    color: mediumspringgreen;
}

header nav {
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

header nav ul li a:hover {
    background: white;
    color: skyblue;
    border-radius: 10px;
    text-shadow: none;
}